@import "../../sass/variables";
@import "../../sass/breakpoints";

#collections {
    margin-top: 50px;

    @include respond-to($large) {
        display: none;
    }

    .collections-title {
        font-size: 22px;
        font-family: "Inter", sans-serif;
        margin-bottom: $base-bottom-and-top-margin * 2;
        text-align: center;
        padding: 0 10px;
    }
    .collection-container {
        padding: 0 15px;
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        justify-content: center;
        gap: 10px;

        @include respond-to($medium) {
            grid-template-columns: 50% 50%;
        }

        @include respond-to($extra-large) {
            grid-template-columns: 550px 550px;
        }
    }
}

#collections.d-block {
    display: block;
    @include respond-to($large) {
        display: block;
    }
}
