@import "../../sass/variables";
@import "../../sass/breakpoints";

#expanded-collections {
    display: none;
    padding: $content-left-right-padding;
    @include respond-to($large) {
        display: block;
    }

    .collections-title {
        font-size: 22px;
        font-family: "Inter", sans-serif;
        margin: $base-bottom-and-top-margin * 2 0;
        text-align: center;
        padding: 0 10px;
    }

    .expanded-collection-container {
        display: flex;
        flex-wrap: nowrap;
        max-width: 1100px;
        margin: auto;
        gap: 20px;
    }
}
