@import "../../sass/variables.scss";

#about-us-section {
    margin: $base-bottom-and-top-margin * 5 auto 0 auto;
    max-width: 1200px;

    a {
        text-decoration: underline;
        font-size: 20px;
        padding: $content-left-right-padding;

        .right-arrow {
            color: $primary-color;
            font-size: 30px;
        }
    }

    .page-title {
        font-weight: 500;
        font-size: 24px;
        text-align: center;
    }

    .about-us-content-container {
        display: flex;
        flex-direction: column;

        @include respond-to($large) {
            padding: 0 15px;
            flex-direction: row;

            > * {
                width: 50%;
            }
        }

        > * {
            margin: $base-bottom-and-top-margin * 2 0;
        }

        .about-image-container {
            @include respond-to($large) {
                height: 600px;
                border-radius: 10px;
                order: 2;
                padding: $content-left-right-padding;
            }

            .about-image {
                width: 100%;
                height: 100%;
                object-fit: cover;

                @include respond-to($large) {
                    height: 600px;
                    border-radius: 10px;
                }
            }
        }

        .about-us-context {
            padding: $content-left-right-padding;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include respond-to($large) {
                order: 1;
            }

            > * {
                margin-bottom: $base-bottom-and-top-margin;
            }

            .about-us-heading {
                font-size: 22px;
                color: $primary-color;
                align-self: flex-start;
            }

            .about-us-description {
                text-align: justify;
            }
        }
    }
}
